# Python related ignores
__pycache__/
*.py[cod]
*$py.class

# Environment and settings
.env
.venv/

# Project specific ignores (Relative paths)
server/__pycache__/
server/src/__pycache__/
server/src/routes/__pycache__/
server/src/services/__pycache__/
server/src/utils/__pycache__/
client/node_modules/